<h1>Admin Shelters</h1>

<% @shelters.each do |shelter| %>
  <section id="shelters">
    <h2><%= link_to "#{shelter.name}", "shelters/#{shelter.id}" %></h2>
    <%= shelter.address %><br />
    <%= shelter.city %>
    <%= shelter.state %>
    <%= shelter.zip %>
  </section>
<% end %>

<section id="pending">
<h2> Shelters with Pending Applications" </h2>
<% @shelters.each do |shelter| %>
  <% if shelter.pending_apps?%>
    <h2><%= link_to "#{shelter.name}", "shelters/#{shelter.id}" %></h2>
    <%= shelter.address %><br />
    <%= shelter.city %>
    <%= shelter.state %>
    <%= shelter.zip %>
    <% end %>
<% end %>
</section>


